.ok-button{ background:url("ok-button.png") top left no-repeat; }
.未命名-3_fw_r2_c2{ width:84px; height:88px; background-position:-10px -10px; }
.未命名-3_fw_r4_c2{ width:85px; height:85px; background-position:-10px -108px; }

