.quote{ background:url("quote.png") top left no-repeat; }
.未命名-4_fw_r4_c4{ width:54px; height:39px; background-position:-10px -10px; }
.未命名-4_fw_r2_c2{ width:54px; height:39px; background-position:-10px -59px; }

