.gender-buttons{ background:url("gender-buttons.png") top left no-repeat; }
.未命名-2_fw_r3_c4{ width:180px; height:188px; background-position:-10px -10px; }
.未命名-2_fw_r2_c2{ width:180px; height:188px; background-position:-10px -208px; }
.未命名-2_fw_r3_c2{ width:180px; height:180px; background-position:-10px -406px; }
.未命名-2_fw_r3_c5{ width:180px; height:180px; background-position:-10px -596px; }

