.msg-submit-button{ background:url("msg-submit-button.png") top left no-repeat; }
.未命名-4_fw_r2_c2{ width:84px; height:88px; background-position:-10px -10px; }
.未命名-4_fw_r3_c4{ width:85px; height:85px; background-position:-10px -108px; }

