.name-icons{ background:url("name-icons.png") top left no-repeat; }
.未命名-4_fw_r4_c2{ width:26px; height:23px; background-position:-10px -10px; }
.未命名-4_fw_r2_c3{ width:24px; height:23px; background-position:-10px -43px; }
.未命名-4_fw_r8_c2{ width:27px; height:22px; background-position:-10px -76px; }
.未命名-4_fw_r6_c2{ width:30px; height:21px; background-position:-10px -108px; }

