.share-icons{ background:url("share-icons.png") top left no-repeat; }
.未命名-5_fw_r8_c15{ width:55px; height:57px; background-position:-10px -10px; }
.未命名-5_fw_r7_c12{ width:55px; height:57px; background-position:-10px -77px; }
.未命名-5_fw_r8_c5{ width:55px; height:57px; background-position:-10px -144px; }
.未命名-5_fw_r7_c2{ width:55px; height:57px; background-position:-10px -211px; }
.未命名-5_fw_r8_c8{ width:55px; height:56px; background-position:-10px -278px; }
.未命名-5_fw_r3_c16{ width:54px; height:55px; background-position:-10px -344px; }
.未命名-5_fw_r3_c13{ width:54px; height:55px; background-position:-10px -409px; }
.未命名-5_fw_r3_c6{ width:54px; height:55px; background-position:-10px -474px; }
.未命名-5_fw_r2_c3{ width:54px; height:55px; background-position:-10px -539px; }
.未命名-5_fw_r4_c9{ width:54px; height:54px; background-position:-10px -604px; }

