.star{ background:url("star.png") top left no-repeat; }
.未命名-5_fw_r2_c4{ width:25px; height:23px; background-position:-10px -10px; }
.未命名-5_fw_r2_c2{ width:25px; height:23px; background-position:-10px -43px; }

