.face {
	width: 57px;
	margin-top: -234px;
}

.glass {
	margin-top: -223px;
}

.hair {
	margin-top: -275px;
}

.suit {
	margin-top: -171px;
}

.shoes {
	margin-top: 230px;
}

.prop {
	margin-top: 8px;
}

