img.flesh-img {
	-webkit-transform: translateY(22px);
	-moz-transform: translateY(22px);
	-ms-transform: translateY(22px);
	-o-transform: translateY(22px);
	transform: translateY(22px);
}

.face {
	width: 57px;
	margin-top: -234px;
}

.glass {
	margin-top: -223px;
}

.hair {
	margin-top: -275px;
}

.suit {
	margin-top: -171px;
}

.shoes {
	margin-top: 230px;
}

.prop {
	margin-top: -2px;
}

.female .panel.prop {
	margin-top: -30px;
}

.bag, .bag-belt {
	margin-top: -170px;
}
