.clearfix:after {
	content: "";
	clear: both;
	width: 0;
	height: 0;
	line-height: 0;
}

.clearfix {
	zoom: 1;
}

body, img, form, input, button {
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
}

html, body {
	width: 100%;
	height: 100%;
}

.container {
	width: 1280px;
	height: 100%;
	margin: 0 auto;
}

.body-wr {
	float: left;
	position: relative;
	width: 500px;
	height: 100%;
	background-color: #444444;
}

.flesh {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 150px;
	height: 510px;	
	margin-left: -75px;
	margin-top: -255px;
}

.male {
	/*background: url("../image/male.png") center center no-repeat;*/
}

.female {
	/*background: url("../image/female.png") center center no-repeat;*/
}

.flesh img {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 2;
	-webkit-transform: translateX(-50%) translateY(30px);
	-moz-transform: translateX(-50%) translateY(30px);
	-ms-transform: translateX(-50%) translateY(30px);
	-o-transform: translateX(-50%) translateY(30px);
	transform: translateX(-50%) translateY(30px);
}

img.flesh-img {
	left: -2px;
	margin-top: -255px;
	z-index: 1;
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);
}

.face {
	margin-top: -220px;
}

.hair {
	margin-top: -265px;
}

.glass {
	margin-top: -210px;
}

.suit {
	margin-top: -151px;
}

.shoes {
	margin-top: 245px;
}

.prop {
	margin-top: 20px;
	margin-left: 70px;
}

.prop.panel {
	margin-top: -10px;
}

.prop.basketball {
	margin-top: 200px;
	margin-left: -120px;
}

.bag, .bag-belt {
	margin-top: -152px;
	margin-left: 0;
}

img.bag {
	z-index: 0;
}

.color-1 {
	background-color: #333333;
}

.color-1 .wrapper {
	background-color: #444444;
}

.color-2 {
	background-color: #003e3e;
}

.color-2 .wrapper {
	background-color: #006666;
}

.color-3 {
	background-color: #a37650;
}

.color-3 .wrapper {
	background-color: #e7c19c;
}

.color-4 {
	background-color: #8e799d;
}

.color-4 .wrapper {
	background-color: #af9cbc;
}

.color-5 {
	background-color: #66a3a4;
}

.color-5 .wrapper {
	background-color: #8bc8c9;
}

.color-6 {
	background-color: #4486a0;
}

.color-6 .wrapper {
	background-color: #5baac8;
}

.color-7 {
	background-color: #758c51;
}

.color-7 .wrapper {
	background-color: #9bb27a;
}

.color-8 {
	background-color: #8eb6a6;
}

.color-8 .wrapper {
	background-color: #b7e0d0;
}

.color-9 {
	background-color: #cab77b;
}

.color-9 .wrapper {
	background-color: #ffefbf;
}

.right-select-wr {
	float: left;
	display: table;
	width: 545px;
	height: 100%;
	margin-left: 175px;
}

.user-select {
	display: table-cell;
	vertical-align: middle;
}

.styles {
	width: 100%;
	height: 75px;
	margin-bottom: 5px;
}

.styles:after {
	content: "";
	width: 0;
	height: 0;
	clear: both;
}

.block {
	width: 75px;
	height: 75px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

.type {
	float: left;
	background-color: #444444;
	color: #FFFFFF;
	font: 24px/75px "Microsoft Yahei";
	text-align: center;
}

.slide {
	float: left;
	width: 425px;
	height: 100%;
	margin-left: 45px;
}

.arrow-left {
	float: left;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-right-color: #EEEEEE;
	margin-top: 17px;
	cursor: pointer;
}

.arrow-left:active, .arrow-left.disabled {
	border-right-color: #CCCCCC;
}

.arrow-right {
	float: left;
	width: 0;
	height: 0;
	border: 20px solid #FFFFFF;
	border-left-color: #EEEEEE;
	margin-top: 17px;
	cursor: pointer;
}

.arrow-right:active, .arrow-right.disabled {
	border-left-color: #CCCCCC;
}

.items-wr {
	float: left;
	width: 315px;
	margin: 0 15px;
	overflow: hidden;
}

.items {
	width: 300%;
}

.item {
	width: 73px;
	height: 73px;
	border: 1px solid #EEEEEE;
	position: relative;
	display: inline-block;
	background-color: #EEEEEE;
	margin: 0 5px 0 0;
	vertical-align: top;
	cursor: pointer;
	overflow: hidden;
}

.item.selected {
	border-color: #2486f5;
}

.item:last-child {
	margin-right: 0;
}

.item img {
	width: 100%;
	height: 100%;
}

.ok-button {
	display: block;
	width: 90px;
	height: 90px;
	margin: 20px auto;
	background-image: url("../image/ok-button.png");
	background-position: -10px -10px;
	text-indent: -999em;
	cursor: pointer;
}

.ok-button:active {
	background-position: -10px -103px;
}














































