.clearfix:after {
	content: "";
	clear: both;
	width: 0;
	height: 0;
	line-height: 0;
}

.clearfix {
	zoom: 1;
}

body, img, form, input, button {
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
}

html, body {
	width: 100%;
	height: 100%;
}

.container {
	width: 1280px;
	height: 100%;
	margin: 0 auto;
}

.body-wr {
	float: left;
	width: 500px;
	height: 100%;
	background-color: #444444;
}

.flesh {
	width: 150px;
	height: 510px;	
	margin: 0 auto;
	position: relative;
}

.male {
	/*background: url("../image/male.png") center center no-repeat;*/
}

.female {
	/*background: url("../image/female.png") center center no-repeat;*/
}

.flesh img {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translateX(-50%) translateY(30px);
	-moz-transform: translateX(-50%) translateY(30px);
	-ms-transform: translateX(-50%) translateY(30px);
	-o-transform: translateX(-50%) translateY(30px);
	transform: translateX(-50%) translateY(30px);
}

img.flesh-img {
	left: -2px;
	top: 0;
	z-index: 0;
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);
}

.face {
	margin-top: -220px;
}

.hair {
	margin-top: -265px;
}

.glass {
	margin-top: -210px;
}

.suit {
	margin-top: -150px;
}

.shoes {
	margin-top: 245px;
}

.prop {
	margin-top: 30px;
	margin-left: 70px;
}

.right-select-wr {
	float: left;
	display: table;
	width: 545px;
	height: 100%;
	margin-left: 175px;
}

.user-select {
	display: table-cell;
	vertical-align: middle;
}

.styles {
	width: 100%;
	height: 75px;
	margin-bottom: 5px;
}

.styles:after {
	content: "";
	width: 0;
	height: 0;
	clear: both;
}

.block {
	width: 75px;
	height: 75px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

.type {
	float: left;
	background-color: #444444;
	color: #FFFFFF;
	font: 24px/75px "Microsoft Yahei";
	text-align: center;
}

.slide {
	float: left;
	width: 425px;
	height: 100%;
	margin-left: 45px;
}

.arrow-left {
	float: left;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-right-color: #EEEEEE;
	margin-top: 17px;
	cursor: pointer;
}

.arrow-left:active, .arrow-left.disabled {
	border-right-color: #CCCCCC;
}

.arrow-right {
	float: left;
	width: 0;
	height: 0;
	border: 20px solid #FFFFFF;
	border-left-color: #EEEEEE;
	margin-top: 17px;
	cursor: pointer;
}

.arrow-right:active, .arrow-right.disabled {
	border-left-color: #CCCCCC;
}

.items-wr {
	float: left;
	width: 315px;
	margin: 0 15px;
	overflow: hidden;
}

.items {
	width: 300%;
}

.item {
	width: 73px;
	height: 73px;
	border: 1px solid #EEEEEE;
	position: relative;
	display: inline-block;
	background-color: #EEEEEE;
	margin: 0 5px 0 0;
	vertical-align: top;
	cursor: pointer;
	overflow: hidden;
}

.item.selected {
	border-color: #2486f5;
}

.item:last-child {
	margin-right: 0;
}

.item img {
	width: 100%;
	height: 100%;
}

.ok-button {
	display: block;
	width: 90px;
	height: 90px;
	margin: 20px auto;
	background-image: url("../image/ok-button.png");
	background-position: -10px -10px;
	text-indent: -999em;
	cursor: pointer;
}

.ok-button:active {
	background-position: -10px -103px;
}














































